@model IEnumerable<Grant_Management_System.Models.DropdownMenus.Faculty>

@{
    ViewData["Title"] = "Index";
}

<h1>Faculties</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
    <a class="btn btn-dark" asp-controller="Grants" asp-action="Create">Back to Form</a>
</p>
<table id="FacTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th><th></th><th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

                <td> <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> </td>
                <td><a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> </td>
                <td> <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
        </tr>
}
    </tbody>
</table>
