@model Grant_Management_System.Models.Grant

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<p class="text-danger">@ViewData["ConcurrencyErrorMessage"]</p>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Grant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameOfGrant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfGrant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameOfFunder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfFunder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusOfGrant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusOfGrant.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfApplication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfApplication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FundingProgramme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FundingProgramme.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResearchKeywords)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResearchKeywords)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrantYearStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrantYearStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrantYearEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrantYearEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalGrantValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalGrantValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountInYear1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountInYear1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountInYear2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountInYear2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountInYear3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountInYear3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountInYear4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountInYear4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountInYear5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountInYear5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaffNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaffNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Initials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Initials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstNames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstNames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Race)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Race.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faculty.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nationality)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="RowVersion" />
        <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
